 <div class="commute">
  <div id="distance"><%=@commute.milesPY.round(2)%> miles not driven.</div>
  <div id="barrels"><%=@commute.barrelsPY.round(2)%> barrels of oil not used.</div>
  <div id="dollars">$<%=@commute.dollarsPY.round(2)%> dollars saved.</div>
  <div id="fat"><%=@commute.lbsPY.round(2)%> pounds of fat burned.</div>
  <div id="trees"><%=@commute.treesPY.round(2)%> trees saved from your footprint.</div>
 </div>